<template>
    <section class="section">
        <h1 class="title">Добавление отеля</h1>
        <h2 class="subtitle">Поля, отмеченные звездочкой (*), являются обязательными для заполнения</h2>
        <form class="container" @submit.prevent="validateBeforeSubmit">
            <b-field label="Название*" :type="errors.has('title') ? 'is-danger': ''" :message="errors.has('title') ? errors.first('title') : ''">
                <b-input placeholder="Название" type="text" v-model="title" v-validate="'required'" name="title" autofocus></b-input>
            </b-field>
            <b-field label="Системное имя*" :type="errors.has('sysname') ? 'is-danger': ''" :message="errors.has('sysname') ? errors.first('sysname') : ''">
                <b-input placeholder="Системное имя" type="text" v-model="sysname" v-validate="'required'" name="sysname" ></b-input>
            </b-field>
            <b-field label="Описание">
                <b-input placeholder="Описание" type="textarea"></b-input>
            </b-field>
            <b-field label="Ссылка на сайт">
                <b-input placeholder="Ссылка на сайт" type="url"></b-input>
            </b-field>
            <b-field label="Email">
                <b-input placeholder="Email" type="email"></b-input>
            </b-field>
            <b-field label="Адрес*" :type="errors.has('address') ? 'is-danger': ''" :message="errors.has('address') ? errors.first('address') : ''">
                <b-input placeholder="Адрес" type="textarea" v-model="address" v-validate="'required'" name="address"></b-input>
            </b-field>
            <b-collapse class="card" :open.sync="geoFieldIsOpen">
                <div slot="trigger" class="card-header">
                    <p class="card-header-title">
                        Геоданные
                    </p>
                    <a class="card-header-icon">
                        <b-icon :icon="geoFieldIsOpen ?
                        'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content">
                    <div class="content">
                        <b-field label="Страна*" :type="errors.has('country') ? 'is-danger': ''" :message="errors.has('country') ? errors.first('country') : ''">
                            <b-input placeholder="Страна" type="text" v-model="country" v-validate="'required'" name="country" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                        <b-field label="Субъект">
                            <b-input placeholder="Субъект" type="text" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                        <b-field label="Округ/Район/Поселение">
                            <b-input placeholder="Округ/Район/Поселение" type="text" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                        <b-field label="Город/Населенный пункт">
                            <b-input placeholder="Улица/Проезд" type="text" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                        <b-field label="Дом/Строение/Корпус">
                            <b-input placeholder="Дом/Строение/Корпус" type="text" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                        <b-field label="Индекс">
                            <b-input placeholder="Индекс" type="text" :loading="asyncLoading" :disabled="asyncLoading"></b-input>
                        </b-field>
                    </div>
                </div>
            </b-collapse>
            <b-field label="Meta-описание*" :type="errors.has('metaDescription') ? 'is-danger': ''" :message="errors.has('metaDescription') ? errors.first('metaDescription') : ''">
                <b-input placeholder="Meta-описание" type="textarea" v-model="metaDescription" v-validate="'required'" name="metaDescription"></b-input>
            </b-field>
            <b-field label="Рейтинг">
                <b-input placeholder="Рейтинг" type="text"></b-input>
            </b-field>
            <b-field label="Бренд/страна/площадка">
                <b-input placeholder="Бренд/страна/площадка" type="text"></b-input>
            </b-field>
            <button class="button" type="submit" :disabled="!isFilled || asyncLoading">Добавить отель</button>
        </form>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                geoFieldIsOpen: false,
                asyncLoading: false,
                title: '',
                sysname: '',
                address: '',
                country: '',
                metaDescription: ''
            }
        },
        computed: {
          isFilled () {
            return this.title.length && this.sysname.length && this.address.length && this.country.length && this.metaDescription.length;
          }
        },
        methods: {
            validateBeforeSubmit(e) {
              this.$validator.validateAll().then(x => {
                this.$toast.open({
                    message: 'Отель был успешно добавлен!',
                    type: 'is-success'
                })
                  this.$router.push('/hotel')
              }).catch(e => {
                console.log(e)
              })
            },
            requestAddress() {
                this.asyncLoading = true;
                console.log(this.address);
                this.country = this.address;
            }
        }
    }
</script>