<template>
    <section class="section">
        <h1 class="title">Отели</h1>
        <h2 class="subtitle">
            Список всех отелей
        </h2>
        <Table :options="tableOptions"></Table>
    </section>
</template>
<script>
    import Table from '~/components/Table.vue'

    export default {
        components: {
            Table
        },
        data() {
            return {
                tableOptions: {
                    tableName: 'Отели',
                    APIURLLink: 'http://localhost/api/v2/admin/hotel?page[number]='    
                }
                
            }
            
        }
    }
</script>