<template>
    <div class="dropdown" v-if="link.hasOwnProperty('children')" @click="showDropdown" v-on-clickaway="closeDropdown">
        <span>{{link.title}}</span>
        <div v-show="show" class="dropdown-content">
            <nuxt-link v-for="child in link.children" :to="child.link">{{child.title}}</nuxt-link>
        </div>
    </div>

</template>

<style>
    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 30px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
</style>
<script>
    import {mixin as clickaway} from 'vue-clickaway';

    export default {
        mixins: [clickaway],

        methods: {
            showDropdown() {
                this.show = !this.show;
            },
            closeDropdown() {
                this.show = false;
            },
        },
        props: ['link'],
        data() {
            return {
                show: false
            }
        }
    }
</script>
