<template>
    <section>
        <header class="main-header">
            <i class="hamburger-icon" @click="showSidebar"><i class="fa fa-bars" aria-hidden="true"></i></i>
            <ul class="header-links">
                <li v-for="link in defaultOptions.links">
                    <Dropdown :link="link"/>
                    <nuxt-link v-if="!link.hasOwnProperty('children')" :to="link.link">{{link.title}}</nuxt-link>
                </li>
            </ul>
            <i class="hamburger-icon show-xs">
                <nuxt-link to="/"><i class="fa fa-home" aria-hidden="true"></i></nuxt-link>
            </i>
            <i class="hamburger-icon show-xs"></i>

        </header>
        <div class="helper-padding"/>
        <!--<section class="sidebar">-->
        <!--asdas-->
        <!--</section>-->
    </section>
</template>

<style lang="scss">
    $header-height: 55px;
    $default-black: #4a4a4a;

    .main-header {
        position: fixed;
        height: $header-height;
        background: #fff;
        border-bottom: 1px solid #c2cfd6;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 15px;

        z-index: 101;
        grid-area: header;
    }

    .app-logo {
        display: block;
        height: 30px;
        width: 35px;
        opacity: 0.92;
        &:hover {
            opacity: 1;
        }
    }

    .hamburger-icon {
        font-size: 24px;
        padding: 0 15px;
        opacity: 0.8;
        a {
            color: $default-black;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .header-links {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.9rem;
        a {
            color: $default-black;
        }
        li {
            display: inline-flex;
            border: solid .5em transparent;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .helper-padding {
        padding-top: $header-height;
    }

    .show-xs {
        display: none;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        z-index: 1000;
        background-color: #fff;
        position: absolute;
        top: 0;
    }

    @media screen and (max-width: 768px) {
        .main-header {
            justify-content: space-between;
        }
        .header-links {
            display: none;
        }
        .show-xs {
            display: block;
        }
    }
</style>
<script>
    import Dropdown from '~/components/Dropdown.vue'

    export default {
        components: {
            Dropdown
        },
        methods: {
            showSidebar() {
                this.$store.commit('openSidebar')
            }
        },
        data() {
            return {
                defaultOptions: {
                    links: [
                        {
                            title: 'Отели', link: '/hotel', children: [
                            {title: 'Главная страница', link: '/'},
                            {title: 'Все отели', link: '/hotel'},
                            {title: 'Подборки отелей', link: '/preset'},
                        ]
                        },
                        {
                            title: 'Удобства', link: '/amenity', children: [
                            {title: 'Удобства', link: '/amenity'},
                            {title: 'Категории', link: '/amenity/category'},
                        ]
                        },
                        {title: 'Photo Category', link: '/photo/category'},
                    ]
                },
                options: {}
            }
        }
    }
</script>