<template>
    <section>
        <header class="main-header">
            <div><a href="#"><img class="app-logo" src="~/assets/img/hotel_logo.png"></a></div>
            <i class="hamburger-icon"><a href="#" @click="showSideBar"><i class="fa fa-bars" aria-hidden="true"></i></a></i>
            <ul class="header-links">
                <li><a href="#">Отели</a></li>
                <li><a href="#">Удобства</a></li>
                <li><a href="#">Photo Category</a></li>
            </ul>
        </header>
        <nav class="main-sidebar">
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 1</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
        </nav>
        <main class="content-wrapper">

            <section class="main-content">
                <section class="current-location">
                    <ul class="location-breadcrumbs">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Удобства</a></li>
                        <li><a href="#">Бассейн</a></li>
                        <li><a href="#">Бассейн</a></li>
                    </ul>
                </section>
                <nuxt/>
            </section>
            <footer class="main-footer"></footer>
        </main>
    </section>
</template>

<style lang="scss">
    $header-height: 55px;
    $default-black: #4a4a4a;
    .main-header {
        height: $header-height;
        background: #fff;
        border-bottom: 1px solid #c2cfd6;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 15px;
        z-index: 101;
        grid-area: header;
    }

    .app-logo {
        display: block;
        height: 30px;
        width: 35px;
        opacity: 0.92;
        &:hover {
            opacity: 1;
        }
    }

    .hamburger-icon {
        font-size: 24px;
        padding: 0 15px;
        opacity: 0.8;
        a {
            color: $default-black;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .header-links {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.9rem;
        a {
            color: $default-black;
        }
        li {
            display: inline-flex;
            border: solid .5em transparent;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
        &.sidebar-opened {
            grid-template-areas: "sidebar header header header" "sidebar main main main" "sidebar footer footer footer";
        }
    }

    .main-content {
        grid-area: main;
    }

    .main-sidebar {
        /*display: none;*/
        background-color: #fff;
        grid-area: sidebar;
        padding: 0 15px;
        z-index: 102;
        a {
            color: rgb(107, 115, 124);
        }
    }

    .sidebar-section {
        margin: 15px 0;
    }

    .sidebar-label {
        font-size: .88em;
        font-weight: 700;
        color: #3c4045;
        text-transform: uppercase;
        padding: 15px 0;
    }

    .current-location {
        height: $header-height;
        background: #fff;
        border-bottom: 1px solid #c2cfd6;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 15px;
        position: relative;
        z-index: 1;
    }

    .location-breadcrumbs {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.9rem;
        li {
            display: inline-flex;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            &:before {
                display: inline-block;
                padding-right: .5rem;
                padding-left: .5rem;
                color: #536c79;
                content: "/";
            }
            &:first-child {
                &:before {
                    padding-right: 0;
                    padding-left: 0;
                    content: "";
                }
            }
        }
        a {
            color: #20a8d8;
        }
    }

    .main-footer {
        grid-area: footer;
    }
</style>
<script>
    export default {
        methods: {
            showSideBar() {
                console.log('show');
            }
        },
    }
</script>