<template>
    <div v-show="$store.state.isSidebarOpened" class="sidebar-wrapper">
            <nav class="main-sidebar">
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 1</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
            <section class="sidebar-section">
                <label class="sidebar-label">Заголовок 12</label>
                <ul class="sidebar-links">
                    <li><a href="#">Отели</a></li>
                    <li><a href="#">Удобства</a></li>
                    <li><a href="#">Photo Category</a></li>
                </ul>
            </section>
        </nav>
        <div class="all-content" @click="closeSidebar">
        </div>
    </div>

</template>
<script>
    export default {
        methods: {
            closeSidebar() {
                this.$store.commit('closeSidebar');
            }
        }
    }
</script>
<style>
    .sidebar-wrapper {
        transition: all 2s linear;
    }
    .main-sidebar {
        position: absolute;
        top: 0;
        width: 200px;
        padding: 0 15px;
        z-index: 103;
        height: 100%;
        background-color: #fff;
        a {
            color: rgb(107, 115, 124);
        }
    }

    .sidebar-section {
        margin: 15px 0;
    }

    .sidebar-label {
        font-size: .88em;
        font-weight: 700;
        color: #3c4045;
        text-transform: uppercase;
        padding: 15px 0;
    }
    .all-content {
            position: absolute;
            z-index: 102;
            background-color: black;
            width: 100vw;
            height: 100vh;
            opacity: 0.7;
            top: 0;
    }
</style>
