<template>
    <section class="table-component-wrapper">
        <span class="options-block">
            <b-tooltip label="Обновить таблицу">
                <button :disabled="loading" class="button is-white" @click="loadAsyncData">
                    <b-icon
                        pack="fa"
                        icon="refresh"
                        size="is-small"
                        class="refresh-table">
                    </b-icon>
                </button>
            
        </b-tooltip>
        </span>
    <b-table
            :data="tableData"
            :loading="loading"
            paginated
            striped
            hoverable
            backend-pagination
            :total="total"
            :per-page="10"
            :mobile-cards="false"
            @page-change="onPageChange"
    >

        <template slot-scope="props">
            <b-table-column label="ID" width="40" numeric>
                {{ props.row.id }}
            </b-table-column>

            <b-table-column label="Название отеля">
                <b-tooltip label="Просмотреть информацию об отеле">
                    <nuxt-link :to="'/hotel/'+props.row.id">{{ props.row.title }}</nuxt-link>
                </b-tooltip>
            </b-table-column>

            <b-table-column label="Описание">
                {{ props.row.metaDescription }}
            </b-table-column>

            <b-table-column label="Адрес">
                {{ props.row.address }}
            </b-table-column>
            <b-table-column label="Действия">
                <nuxt-link :to="'/hotel/'+props.row.id+'/edit'">
                    <b-tooltip label="Редактировать информацию об отеле">
                        <button class="button">
                            <b-icon
                                    pack="fa"
                                    icon="pencil"
                                    size="is-small">
                            </b-icon>
                        </button>
                    </b-tooltip>
                </nuxt-link>

                <nuxt-link :to="'/hotel/'+props.row.id+'/amenity'">
                    <b-tooltip label="Просмотреть удобства отеля">
                        <button class="button is-info">
                            <b-icon
                                    pack="fa"
                                    icon="cutlery"
                                    size="is-small">
                            </b-icon>
                        </button>
                    </b-tooltip>
                </nuxt-link>

                <nuxt-link :to="'/hotel/'+props.row.id+'/room'">
                    <b-tooltip label="Просмотреть номера отеля">
                        <button class="button is-warning">
                            <b-icon
                                    pack="fa"
                                    icon="home"
                                    size="is-small">
                            </b-icon>
                        </button>
                    </b-tooltip>
                </nuxt-link>

                <nuxt-link :to="'/hotel/'+props.row.id+'/photo'">
                    <b-tooltip label="Просмотреть фото отеля">
                        <button class="button is-success">
                            <b-icon
                                    pack="fa"
                                    icon="camera"
                                    size="is-small">
                            </b-icon>
                        </button>
                    </b-tooltip>
                </nuxt-link>

                <nuxt-link :to="'/hotel/'+props.row.id+'/condition'">
                    <b-tooltip label="Просмотреть дополнительные условия">
                        <button class="button is-info">
                            <b-icon
                                    pack="fa"
                                    icon="tags"
                                    size="is-small">
                            </b-icon>
                        </button>
                    </b-tooltip>
                </nuxt-link>


            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                                pack="fa"
                                icon="ban"
                                size="is-large">
                        </b-icon>
                    </p>
                    <div v-if="asyncLoadError">
                        <p>{{reloadTableMessage}}</p>
                        <button class="button is-primary" @click="loadAsyncData" :disabled="loading">Попробовать загрузить данные снова</button>
                    </div>

                    <p v-else>{{emptyTableMessage}}</p>
                </div>
            </section>
        </template>
    </b-table>
    </section>

</template>
<script>
    import axios from 'axios';
    import Jsona from 'jsona';

    const dataFormatter = new Jsona();
    export default {
        props: ['options'],
        data() {
            return {
                loading: true,
                page: 1,
                previousPage: 1,
                total: 0,
                tableData: [],
                standardURL: 'http://localhost/api/v2/admin/hotel?page[number]=',
                asyncLoadError: false,
                emptyTableMessage: 'Данные отсутствуют',
                reloadTableMessage: this.options.tableName && this.options.tableName.length ? 'Данные таблицы "' + this.options.tableName + '" не были загружены' : 'Данные не были загружены'
            }
        },
        mounted() {
            this.loadAsyncData()
        },
        methods: {
            onPageChange(page) {
                this.previousPage = this.page;
                this.page = page;
                this.loadAsyncData();
            },
            loadAsyncData() {
                this.loading = true;
                axios({
                    method: 'GET',
                    url: this.standardURL + this.page,
                    headers: {
                        ApiKey: '08822003-3e74-41d6-93b8-75076c799dc2'
                    }
                })
                    .then(response => {
                        let newData = dataFormatter.deserialize(response.data);
                        this.tableData = newData;
                        this.total = response.data.meta['total-count'];
                        this.loading = false;
                        this.asyncLoadError = false;
                    })
                    .catch(error => {
                        console.error(error);
                        this.loading = false;
                        this.page = this.previousPage;
                        this.asyncLoadError = true;
                        this.$snackbar.open({
                            message: this.options.tableName && this.options.tableName.length ? 'Данные таблицы "' + this.options.tableName + '" не были загружены' : 'Данные таблицы не были загружены',
                            type: 'is-danger',
                            actionText: 'Закрыть',
                            queue: false
                        })
                    });
            }
            //http://localhost/api/v2/admin/hotel?page[number]=1
        }
    }
</script>
<style>
    .table-component-wrapper {
        position: relative;
    }
    .options-block {
        position: absolute;
        top: -35px;
        right: 0;
        padding: 0;
        border-radius: 3px;
        background-color: white;
    }
    .refresh-table:hover {
          transition: 0.50s;
          -webkit-transition: 0.50s;
          -moz-transition: 0.50s;
          -ms-transition: 0.50s;
          -o-transition: 0.50s;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);    
    }
</style>