<template>
    <div>
        <HeaderNav/>
        <Sidebar></Sidebar>
        <main class="content-wrapper">

            <section class="main-content">
                <nuxt/>
            </section>
            <footer class="main-footer"></footer>
        </main>
    </div>
</template>

<script>
    import HeaderNav from '~/components/HeaderNav.vue'
    import Sidebar from '~/components/Sidebar.vue'
    import Logo from '~/components/Logo.vue'
    export default {
        components: {
            HeaderNav, Logo, Sidebar
        },
        head () {
        return {
            htmlAttrs: {
                class: this.$store.state.isSidebarOpened ?  'disable-scroll' : ''
            },
            bodyAttrs: {
                class: this.$store.state.isSidebarOpened ?  'disable-scroll' : ''
            }
        }
    },
    }
    
</script>

<style lang="scss">
    
    .disable-scroll {
        overflow: hidden;
        height: 100%;
        margin: 0;
    }

    html {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        min-height: 100vh;
        background-color: #ecf0f5;
    }

    .button--green {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #3b8070;
        color: #3b8070;
        text-decoration: none;
        padding: 10px 30px;
    }

    .button--green:hover {
        color: #fff;
        background-color: #3b8070;
    }

    .button--grey {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid #35495e;
        color: #35495e;
        text-decoration: none;
        padding: 10px 30px;
        margin-left: 15px;
    }

    .button--grey:hover {
        color: #fff;
        background-color: #35495e;
    }

    .main-content {
        padding: 0 30px;
    }

    @media screen and (max-width: 548px) {
        .main-content {
            padding: 0;
        }
        table {
            font-size: 0.9rem;
        }
    }
</style>

